# Emacs -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.s

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Programs
ampstatistics
statistics
transcode
unittest

# Molo output
*.molo
output*